<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:c="http://www.springframework.org/schema/c"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://cxf.apache.org/jaxws 
    http://cxf.apache.org/schemas/jaxws.xsd">


	<context:annotation-config />
	
	<jaxws:client id="quizClient"   
		xmlns:e="http://web.epita.quiz.fr/endpoint"
    	xmlns:s="http://web.epita.quiz.fr/service" 
    	endpointName="e:quizPort" 
    	serviceName="s:quizService"
    	serviceClass="fr.epita.quiz.services.web.api.QuizWS"	
    	address="http://localhost:8080/quiz-soap-ws/quiz-ws" />
		
<!-- 	jaxws:client serviceName="quizservice" bindingId="http://api.web.services.quiz.epita.fr/" endpointName="quizport" id="quizClient"  serviceClass="fr.epita.quiz.services.web.api.QuizWS"
		address="http://localhost:8080/quiz-soap-ws/quiz-ws" -->

</beans>